<div xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div class="footer-section">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid bottom-nav">
                    <h3>Information </h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">New Services</a></li>
                        <li><a href="404.html">Recent Projects</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="mail.html">Mail Us</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid category">
                    <h3>Categories </h3>
                    <ul>
                        <li><a href="#">Proin at tellus quis</a></li>
                        <li><a href="#">Felis tincidun</a></li>
                        <li><a href="#">Vestibulum</a></li>
                        <li><a href="#">Sets</a></li>
                        <li><a href="#">Praesent sit</a></li>
                        <li><a href="#">Amet nulla molestie</a></li>

                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid brands">
                    <h3>Brands </h3>
                    <ul>
                        <li><a href="#">Pellentesque</a></li>
                        <li><a href="#">Lorem ipsum dolor </a></li>
                        <li><a href="#">Vestibulum pharetra</a></li>
                        <li><a href="#">Donec eros dolor</a></li>
                        <div class="clearfix"> </a> </div>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid contact">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="#">Tel:1(234) 567-8901</a></li>
                        <li><a href="#">Tel:1(234) 567-8936</a></li>
                        <div class="clearfix"></div>
                    </ul>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="copy-right-section">
        <div class="container">
            <div class="col-md-6 copy-right">
                <p>Design by &nbsp;<a href="http://w3layouts.com">My Transport Team</a></p>
            </div>
            <div class="col-md-6 social-icons">
                <ul class="soc_icons2">
                    <li><a href="#"><i class="icon_4"></i></a></li>
                    <li><a href="#"><i class="icon_5"></i></a></li>
                    <li><a href="#"><i class="icon_6"></i></a></li>
                    <div class="clearfix"></div>
                </ul>

            </div>
        </div>
    </div>
</div>