<div class="contact" id="contact">
    <div class="contact-head">
        <div class="container">
            <h3>Связаться с нами</h3>
        </div>
    </div>
    <div class="contact-content">
        <div class="container">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d212250.0050446!2d-36.2370826!3d33.7677129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1415712447570"
                        frameborder="0" style="border:0"></iframe>
            </div>
            <div class=" col-md-6 address">
                <div class="contact-icons">
                    <ul>

                        <li><a class="home" href="#"><span> </span>ХНАДУ, ул. Ярослава Мудрого 25</a></li>
                        <li><a class="mail" href="mailto:info@example.com"><span> </span>mytransport@khadi.com</a></li>
                        <li><a class="phone" href="mailto:info@example.com"><span> </span>Tel:+38(067) 777-67-67</a></li>
                        <div class="clearfix"></div>
                    </ul>

                </div>
            </div>
            <div class="col-md-6 contact-part">
                <div class="form">
                    <form method="post" action="/index.html">
                        <input type="text" class="textbox" value="Имя" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Имя ';}">
                        <input type="text" class="textbox" value="Почта" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Почта';}">
                        <input type="text" class="textbox" value="Тема письма" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Тема письма';}">
                        <div class="clearfix"></div>
                        <div>
                            <textarea value="Сообщение:" onfocus="this.value = '';"
                                      onblur="if (this.value == '') {this.value = 'Сообщение';}">Сообщение</textarea>
                        </div>
                        <div class="submit">
                            <input type="submit" value="Отправить "/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>