<div class="services">
    <div class="container">
        <h3>Our services</h3>
        <div class="service-section">
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s1.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>WAHID MAGDY</h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog1" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s2.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>FAROUK HOSNI </h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog2" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s3.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>WAHID MAGDY </h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog3" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s4.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>FAROUK HOSNI </h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
        </div>
        <div class="service-section two">
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s5.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>WAHID MAGDY</h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog1" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s6.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>FAROUK HOSNI </h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog2" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s7.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>WAHID MAGDY </h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
            <div class="portfolio-wrapper-1">
                <a href="#small-dialog3" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                    <img src="images/s8.jpg" class="img-responsive pimg" alt=""/>
                    <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img
                            src="images/icon-eye.png" alt=""/></h2>
                    </div>
                </a>
                <h4>FAROUK HOSNI </h4>
                <p>Dolor nunc vule putateulr
                    ips dol consec.Donec semp
                    ertet laciniate ultricie . </p>
                <a class="dow-btn" href="single.html">Read More</a>


            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<!-- pop-up-box -->
<script type="text/javascript" src="js/modernizr.custom.min.js"></script>
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<div id="small-dialog" class="mfp-hide">
    <div class="image-top">
        <img src="images/s1.jpg" class="img-responsive" alt=""/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to book.There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour. </p>
    </div>
</div>
<div id="small-dialog1" class="mfp-hide">
    <div class="image-top">
        <img src="images/s2.jpg" class="img-responsive" alt=""/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to book.There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour.</p>
    </div>
</div>
<div id="small-dialog2" class="mfp-hide">
    <div class="image-top">
        <img src="images/s3.jpg" class="img-responsive" alt=""/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to book.There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour.</p>
    </div>
</div>
<div id="small-dialog3" class="mfp-hide">
    <div class="image-top">
        <img src="images/s3.jpg" class="img-responsive" alt=""/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to book.There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour.</p>
    </div>
</div>
<div id="small-dialog4" class="mfp-hide">
    <div class="image-top">
        <img src="images/s5.jpg" class="img-responsive" alt=""/>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to book.There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour.</p>
    </div>
</div>
<div class="featured-section">
    <div class="container">
        <h2>Featured Products</h2>
        <div class="featured-main">
            <div class=" col-md-4 feature-text">
                <img src="images/f1.png" alt="">
                <h3>Aenean aliquam pretium felis, eu
                    varius sapien. Mauris porttitor .</h3>
                <p>Etiam feugiat lectus nisl, in euismod l
                    ectus viverra et. Sed et scelerisqu
                    e felis. Integer vel volutpat massa. Do
                    nec id justo nisl. Vivamus malesuada,
                    dolor a eleifend sagittis, neque arcu
                    semper mi, eu finibus ,</p>
                <div class="wecome-button">
                    <a class="button rotate2" href="#">Read More<span> </span></a>
                </div>
            </div>
            <div class=" col-md-4 feature-text">
                <img src="images/f2.png" alt="">
                <h3>Aenean aliquam pretium felis, eu
                    varius sapien. Mauris porttitor .</h3>
                <p>Etiam feugiat lectus nisl, in euismod l
                    ectus viverra et. Sed et scelerisqu
                    e felis. Integer vel volutpat massa. Do
                    nec id justo nisl. Vivamus malesuada,
                    dolor a eleifend sagittis, neque arcu
                    semper mi, eu finibus ,</p>
                <div class="wecome-button">
                    <a class="button rotate2" href="#">Read More<span> </span></a>
                </div>
            </div>
            <div class=" col-md-4 feature-accord">
                <ul class="topic_grid">
                    <li class="list1"><h3 class="m_3">List of Features</span></h3>
                        <div class="clear5"></div>
                    </li>
                </ul>
                <div class="menu_vertical">
                    <section class="accordation_menu">
                        <div>
                            <input id="label-1" name="lida" type="radio" checked/>
                            <label for="label-1" id="item1"><i class="ferme"> </i><span class="m_5">Aliquam tincidunt mauris</span><i
                                    class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a1">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>Etiam feugiat lectus nisl, in euismod lectus viverra et.
                                            Sed et scelerisque felis. Integer vel volutpat massa.
                                            Donec id justo nisl. Vivamus .</p>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input id="label-2" name="lida" type="radio"/>
                            <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Cras ornare tristiave<i
                                    class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a2">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>Etiam feugiat lectus nisl, in euismod lectus viverra et.
                                            Sed et scelerisque felis. Integer vel volutpat massa.
                                            Donec id justo nisl. Vivamus .</p>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input id="label-3" name="lida" type="radio"/>
                            <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>Present placerat riisus<i
                                    class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a3">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>Etiam feugiat lectus nisl, in euismod lectus viverra et.
                                            Sed et scelerisque felis. Integer vel volutpat massa.
                                            Donec id justo nisl. Vivamus .</p>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input id="label-4" name="lida" type="radio"/>
                            <label for="label-4" id="item4"><i class="icon-trophy" id="i4"></i>Fusce pellellentsque
                                suscrite<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a4">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>Etiam feugiat lectus nisl, in euismod lectus viverra et.
                                            Sed et scelerisque felis. Integer vel volutpat massa.
                                            Donec id justo nisl. Vivamus .</p>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <input id="label-5" name="lida" type="radio"/>
                            <label for="label-5" id="item5"><i class="icon-trophy" id="i5"></i>Ut aliquam Solliicitudin
                                <i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                            <div class="content" id="a5">
                                <ul class="news_list">
                                    <li class="date_desc">
                                        <p>Etiam feugiat lectus nisl, in euismod lectus viverra et.
                                            Sed et scelerisque felis. Integer vel volutpat massa.
                                            Donec id justo nisl. Vivamus .</p>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>